/* @font-face {
  font-family: "Quicksand";
  src: local("Quicksand-Regular"),
    url(./fonts/Quicksand-Regular.ttf) format("truetype");
} */

@font-face {
  font-family: "Mulish";
  src: local("Mulish"),
    url(./fonts/Mulish-VariableFont_wght.ttf) format("truetype");
}
body {
  margin: 0;
}
