/* @font-face {
  font-family: "Quicksand";
  src: local("Quicksand-Regular"),
    url(./fonts/Quicksand-Regular.ttf) format("truetype");
} */

@font-face {
  font-family: "Mulish";
  src: local("Mulish"),
    url(./fonts/Mulish-VariableFont_wght.ttf) format("truetype");
}
body {
  margin: 0;
  font-weight: 400;
}

body::-webkit-scrollbar {
  display: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
}

* {
  font-weight: 400;
  scrollbar-width: none;
}
